* {
    border: none;
    border-radius: 0;
    font-family: "SauceCodePro Nerd Font", "Hack", sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: #000000;
    color: #e5e9f0;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each workspace name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 -3px #00bcd4;
}

#workspaces button.focused {
    background: #4c566a;
    box-shadow: inset 0 -3px #00bcd4;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    color: #e5e9f0;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 10px;
    margin: 0 5px;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    color: #e5e9f0;
}

#battery {
    color: #e5e9f0;
}

#battery.charging, #battery.plugged {
    color: #e5e9f0;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        color: #e5e9f0;
    }
}

#cpu {
    color: #e5e9f0;
}

#memory {
    color: #e5e9f0;
}

#network {
    color: #e5e9f0;
}

#network.disconnected {
    background-color: #f53c3c;
}

#piewire{
    color: #e5e9f0;
}

#pulseaudio.muted {
    color: #e5e9f0;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    color: #e5e9f0;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}
#language {
    color: #e5e9f0;
}
